@font-face {
    font-family: "Alexana Neue";
    src: url('file:///fonts/Alexana Neue.ttf') format('truetype')
}
@font-face {
    font-family: "Gestalt";
    src: url('file:///fonts/Gestalt-HTF-Linear-Light.otf') format('opentype')
}
@font-face {
    font-family: "Jaapokki Enchance";
    src: url('file:///fonts/Jaapokki Enchance.otf') format('opentype')
}
@font-face {
    font-family: "Jaapokki Regular";
    src: url('file:///fonts/Jaapokki Regular.otf') format('opentype')
}
@font-face {
    font-family: "Jaapokki Subtract";
    src: url('file:///fonts/Jaapokki Subtract.otf') format('opentype')
}
@font-face {
    font-family: "Lulo Clean One";
    src: url('file:///fonts/LuloCleanOne.otf') format('opentype')
}
@font-face {
    font-family: "Lulo Clean One Bold";
    src: url('file:///fonts/LuloCleanOneBold.otf') format('opentype')
}
@font-face {
    font-family: "Medel";
    src: url('file:///fonts/Medel.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Black";
    src: url('file:///fonts/Montserrat-Black.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Black Italic";
    src: url('file:///fonts/Montserrat-BlackItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Bold";
    src: url('file:///fonts/Montserrat-Bold.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Bold Italic";
    src: url('file:///fonts/Montserrat-BoldItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Extra Bold";
    src: url('file:///fonts/Montserrat-ExtraBold.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Extra Bold Italic";
    src: url('file:///fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Extra Light";
    src: url('file:///fonts/Montserrat-ExtraLight.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Extra Light Italic";
    src: url('file:///fonts/Montserrat-ExtraLightItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Italic";
    src: url('file:///fonts/Montserrat-Italic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Light";
    src: url('file:///fonts/Montserrat-Light.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Light Italic";
    src: url('file:///fonts/Montserrat-LightItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Medium";
    src: url('file:///fonts/Montserrat-Medium.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Medium Italic";
    src: url('file:///fonts/Montserrat-MediumItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Regular";
    src: url('file:///fonts/Montserrat-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url('file:///fonts/Montserrat-SemiBold.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat SemiBold Italic";
    src: url('file:///fonts/Montserrat-SemiBoldItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Thin";
    src: url('file:///fonts/Montserrat-Thin.ttf') format('truetype')
}
@font-face {
    font-family: "Montserrat Thin Italic";
    src: url('file:///fonts/Montserrat-ThinItalic.ttf') format('truetype')
}
@font-face {
    font-family: "Toriga Medium";
    src: url('/fonts/Toriga-Medium.otf') format('opentype')
}
@font-face {
    font-family: "VIC Italic";
    src: url('file:///fonts/VIC-Italic.ttf') format('truetype')
}
@font-face {
    font-family: "VIC Medium";
    src: url('file:///fonts/VIC-Medium.ttf') format('truetype')
}
@font-face {
    font-family: "VIC Regular";
    src: url('file:///fonts/VIC-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "VIC SemiBold";
    src: url('file:///fonts/VIC-SemiBold.ttf') format('truetype')
}