.navbar {
    background-color: none;
    z-index: 1;
}
.navbar-transparent {
    background-color: rgba(0,0,0,0) !important;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    transition: background-color .5s ease 0s;
}
.navbar-transparent.opaque {
    background-color: black !important;
    transition: background-color .5s ease 0s;
}
.navbar-transparent:hover {
    background-color: dimgray !important;
}
.navbar-toggler {
    color: purple !important;
}
.sticky-top {
    padding-left: 0; /* ensures nav items are actually centre-aligned */
    position: sticky;
    top: 70px;
    /*justify-content: center !important; /* centre-aligns the nav items, superceded by d-flex justify-content-center in html */
    background-image: 
        linear-gradient(
            90deg,
            /*rgb(74, 46, 255), 
            rgb(156, 255, 196)*/
            #ff0000,
            #5f009b
        );
}
.btn-light {
    background: none !important;
    border: none !important;
}
.btn-light:hover {
    background: black !important; 
}
.navlink {
    color: white;
}
.navlink:hover {
    color: white;
}
.btn-light:active {
    background: black;
}
.nav-item:active {
    color: black !important;
}
/*.active {
    background-color: black;
    color: black !important;
}*/
/*#scrollspy {
    height: 200px;
    overflow-y: scroll;
}*/